@model WebUI.Areas.Admin.Controllers.NewsAdminViewModel.ListModel
@{
    ViewBag.Title = "新闻列表";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";    
}
<div id="main">
    @using (Html.BeginForm("List", "NewsAdmin", FormMethod.Post, new { sndId = Model.SndClassId }))
    {
        <h3>
            新闻类别</h3>
        <fieldset>
            <p>
                <label>
                    第一级分类:</label>
                <select id="FstClass" name="FstClassId" onchange="javascript:cascadingsnd()">
                </select>
            </p>
            <p>
                <label>
                    第二级分类:</label>
                <select id="SndClass" name="SndClassId" style="display: none">
                </select>
            </p>
            <input type="submit" value="提交" />
        </fieldset>
        <h3>
            @Model.SndClassName >> 新闻列表
        </h3>
        <table cellpadding="0" cellspacing="0">
            @foreach (var n in Model.NewsList)
            {
                <tr>
                    <td>
                        @n.Title
                    </td>
                    <td class="action">
                        <a href="@Url.Action("Edit", "NewsAdmin", new { newsId = n.Id })" class="edit">编辑</a><a
                            href="@Url.Action("Delete", "NewsAdmin", new { newsId = n.Id })" class="delete">删除</a>
                    </td>
                </tr>
            }
        </table>
    }
</div>
<!-- // #main -->
@section Scripts
{
    <script type="text/javascript">
        //生成层叠菜单，第一级菜单
        $(document).ready(
        function PopulateCascadingTable() {
            var urlfst = '@Url.Action("GetFstClasses")';
            var select = $('#FstClass');
            $.ajax({
                type: "POST",
                url: urlfst,
                success: function (returndata) {
                    if (returndata.ok) {
                        select.empty();
                        $.each(returndata.data, function (index, itemData) {
                            select.append($('<option></option>').val(itemData.Id).html(itemData.Name));
                        });
                        select.show();
                        select.change();
                    }
                    else {
                        window.alert(' error : ' + returndata.message);
                    }
                }
            });
        });

        //生成层叠菜单，第二级菜单
        function cascadingsnd() {
            var id = $("#FstClass").val();
            var urlsnd = '@Url.Action("GetSndClasses")';
            var select = $('#SndClass');
            $.ajax({
                type: "POST",
                url: urlsnd,
                data: { fstId: id },
                success: function (returndata) {
                    if (returndata.ok) {
                        select.empty();
                        $.each(returndata.data, function (index, itemData) {
                            select.append($('<option></option>').val(itemData.Id).html(itemData.Name));
                        });
                        select.show();
                    }
                    else {
                        window.alert(' error : ' + returndata.message);
                    }
                }
            });
        }

    </script>
}
