@model WebUI.Controllers.NewsViewModel.ListModel
@{
    ViewBag.Title = "新闻列表";
}
@section Content
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/news_content.css")" />
}
<div id="news_content">
    <div>
        <img src="@Url.Content("~/Content/images/news_header.jpg")" />
    </div>
    <div id="news_main">
        <div id="news_side">
            @*<p>
                <span id="school_but">校园新闻</span></p>
            <p>
                <span id="society_but">社会新闻</span></p>*@
            @foreach (var snd in Model.SndClasses)
            {
                <p>
                    <span id="school_but">@Html.ActionLink(snd.Name, "List", "News", new { fstClassId = snd.FstClassId, sndClassId = snd.Id }, null)</span></p>
            }
            <p>
                <a href="#">我要投稿</a></p>
            <div id="aside1">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/join1.gif")" /><p>
                        我要参加</p>
                </a><a href="#">
                    <img src="@Url.Content("~/Content/images/refer1.gif")" /><p>
                        在线咨询</p>
                </a><a href="#">
                    <img src="@Url.Content("~/Content/images/rain1.gif")" /><p>
                        (心雨)</p>
                </a><a href="#">
                    <img src="@Url.Content("~/Content/images/post1.gif")" /><p>
                        (心灵驿站)</p>
                </a><a href="#">
                    <img src="@Url.Content("~/Content/images/online1.gif")" /><p>
                        大学生在线</p>
                </a>
            </div>
        </div>
        <div class="news_list school_news clearfix)">
            <div>
                @Model.ActivateSndClass.Name</div>
            <ul>
                @foreach (var n in Model.ActivateNewsList)
                {
                    <li><a href="@Url.Action("Content", new { id = n.Id })"><span>@n.Title</span>
                    </a></li>
                }
                <li><span>2011.9.9</span><a href="#">斯蒂芬解放</a></li>
            </ul>
        </div>
    </div>
</div>
