@model WebUI.Controllers.HomeViewModel
@{
    ViewBag.Title = "首页";
}
@section Content
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/main.css")" />
}
<div id="text_run">
    <marquee id="scroll" direction="left" scrollamount="4"><a href="#">向右</a></marquee>
</div>
<div id="content" class="clearfix">
    <div id="slideBox">
        <div id="slide" class="grid_11 slideWrap">
            <div style="width: 1920px; left: 0px;" class="slideInner bigSlide">
                @foreach (var n in ViewBag.IndexNews)
                {
                    <div class="imgWrap">
                        <a target="_blank" href="@Url.Action("Content", "News", new { id = n.Id })">
                            <img src="@n.ImageUrl" title="" alt="slide"></a>
                        <div style="display: none; opacity: 0.6;" class="text showNow">
                            <div class="textInner">
                                <p>
                                    <a target="_blank" href="@Url.Action("Content", "News", new { id = n.Id })" title="@n.Title">
                                        @n.Title</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <ul class="button">
                <li class="now"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
    </div>
    <div id="article">
        <h1>
            <span id="teach" class="articleTitle bg1">新闻快报</span> <span id="test" class="articleTitle">
                心理辅导</span>
        </h1>
        <div id="1" class="artile_list">
            <ul>
                @foreach (var m in Model.News1)
                {
                    <li><a href="@Url.Action("Content", "News", new { id = m.Id })">@m.Title</a></li>
                }
            </ul>
            <ul>
                @foreach (var m in Model.News2)
                {
                    <li><a href="@Url.Action("Content", "News", new { id = m.Id })">@m.Title</a></li>

                }
            </ul>
            <div style="clear: left;">
            </div>
        </div>
        <h1 id="low">
            <span id="cyclopaedia" class="articleTitle bg1">心理百科</span> <span id="movies" class="articleTitle">
                影音图片</span>
        </h1>
        <div id="2" class="artile_list">
            <ul>
                @foreach (var m in Model.News3)
                {
                    <li><a href="@Url.Action("Content", "News", new { id = m.Id })">@m.Title</a></li>

                }
            </ul>
            <ul>
                @foreach (var m in Model.News4)
                {
                    <li><a href="@Url.Action("Content", "News", new { id = m.Id })">@m.Title</a></li>

                }
            </ul>
        </div>
    </div>
    <div id="aside1">
        <a href="#">
            <img src="@Url.Content("~/Content/images/join.gif")" /><p>
                我要参加</p>
        </a><a href="#">
            <img src="@Url.Content("~/Content/images/refer.gif")" /><p>
                在线咨询</p>
        </a><a href="#">
            <img src="@Url.Content("~/Content/images/rain.gif")" /><p>
                (心雨)</p>
        </a><a href="#">
            <img src="@Url.Content("~/Content/images/post.gif")" /><p>
                (心灵驿站)</p>
        </a><a href="#">
            <img src="@Url.Content("~/Content/images/online.gif")" /><p>
                大学生在线</p>
        </a>
    </div>
</div>
<div id="footer">
    <p>
        中国矿业大学<span>学生在线</span></p>
    <p>
        COPYRIGHT@2011-2020大学生健康教育中心ALL RIGHTS RESERVED</p>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/index.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scroll.js")" type="text/javascript"></script>
}
