@using WebUI.Application.Helpers
@model WebUI.Controllers.BlogViewModel.PostModel
@{
    ViewBag.Title = "Post";
}
<section class="main-section blog-section" id="blog-posts">
    <article id="@Model.Post.Id">
        <hgroup>
            <h2><a href="@Url.Action("Post", "Blog", new { id = Model.Post.Id })">@Model.Post.Title&nbsp;</a></h2>
            <h3><a href="#@Model.Post.Id">@Model.Post.Published</a></h3>
        </hgroup>
            @Html.Markdown(Model.Post.Body)
        <footer>
            <h4>Tags</h4>
            <ul class="tags">
            
            </ul>
        </footer>
    </article>
</section>
